/* 1st-banner */ 


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
  color: #4E47FF;
}

.background{background-color: #F0F2F5;}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-size: 65px;

  color:black;
}


.main-banner{background-image: url("./Hero-bg.png");
background-repeat: none;width:1440px;height: 698px;margin:auto; text-align: center;
}
.extra{margin-top: 200px;}

nav{border: solid red;border-style: none;padding-right: 150px;padding-left: 150px;}




nav{display: flex;justify-content: space-between;}


.logo-color{color: #4E47FF;font-weight: 800;}



.btn-style{color:aliceblue;background-color: #4E47FF;width:132px;height: 48px;border-radius: 10px;border-style: none;font-size: medium;font-weight: 500px;}


.nav-title{font:800;
font-size: 30px;font-weight: 800;
}

li{list-style-type:none;}

.banner-text{max: width 905px;max-height: 237px; text-align: center;}

article{ max-width: 1140px;max-height: 328px;}
.second-button{}

/* 2nd-banner */

.raleway-second-banner{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
 font-weight:200 ;
  font-style: normal;color:#252432 ;
}


.raleway-button-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}


.second-banner{display: flex;justify-content: space-between;max-width: 1140px;max-height: 328px;margin:auto ;padding-top:120px ;padding-right: 150px;padding-left: 150px;}


.rounded-image{border-radius: 48px;}

.box{text-align: center;}

.second-btn-style{background-color: #4E47FF;width:229px;height:48px;border-radius: 10px;border-style: none;color: aliceblue;}



/* 3rd-banner */

.inter-ratings-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-size:80px;
  justify-content: space-between;}

ul{display: flex;padding-left: 0px;justify-content: space-between;padding-left:142px;padding-right: 142px;}

.box-color{background-color: #E7E7FF;max-width: 1140px;height: 302px;padding-top: 50px;margin-top: 120px;margin-right:auto;margin-left: auto;border-radius: 28px; }

.text-organize{text-align: center;color:#252432 ;font-size:38px ;}

.special-font{display: flex;justify-content:space-between;padding-left: 142px;padding-right: 142px;}



/* 4th-banner */

.fourth-border{text-align: center;padding-top: 120px;font-size: 42px;}
.image-border{border-radius: 50px;padding-top: 15px;padding-right: 15px;}

.card{max-width:366px;max-height: 243px;border-radius: 15px;
border:solid #E0E0E0 1px;}

.card-flex{display: flex;max-width: 1140px;}

.comment-color{color: black;}
.name-color{color: #B3B3B3;}

.cmt-flex{max-width: 1140px;display: flex;border:solid red;padding-left: 370px;padding-right: 370px;border-style: none;justify-content: space-between;}


.fourth-banner-color{color:#252432 ;}


/* 5th-banner */

.raleway-custom {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}



.fifth-banner-flex{display: flex;}
.form-text{font-size: 97px;font-weight: 700;max-width: 528px;max-height: 232px;width: 1140px;height: 632px;text-align: center;}

.fifth-border{border: solid red;display: flex;justify-content: space-between;

max-width: 1140px;max-height: 632px;padding-left: 350px;padding-right: 200px;border-style:none;

}

.top-pad{padding-top: 68px;}

.custom-input{width: 497px;height: 70px;border-radius: 15px;border: solid #B3B3B3 1px;}

.custom-text{font-size: 18px;color: black;}

.custom-padding{padding-top: 20px;}
.custom-button{background-color: #4E47FF;
width: 497px;height: 62px;border-radius: 15px;color: #E7E7FF;margin-top: 20px;border-style: none;}


